/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-logo {
    height: 250px;
    width: 250px;
}

.navbar {
    list-style-type: none;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
}

.principal {
    width: 94%;
    margin: 3rem auto;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5vw);
    gap: 0.5rem;
}
