/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-logo {
    height: 250px;
    width: 250px;
}

.navbar {
    list-style-type: none;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 250px);
    gap: 10px; /* Espaçamento entre as células */
}

.grid-block {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* Exemplo de estilos para as imagens */
.grid-block:nth-child(odd) {
    background-color: #f0f0f0; /* Cor de fundo alternativa para as células ímpares */
}

.grid-block:nth-child(even) {
    background-color: #ccc; /* Cor de fundo alternativa para as células pares */
}
